body {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    background-color: black;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.container {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

.game-bars {
    height: 100vh;
    background: rgb(24, 67, 129);
    min-width: 200px;
}

.game-board {
    background-color: black;
    width: 90vmin;
    height: 90vmin;
    display: grid;
    
    grid-template-rows: repeat(8, 1fr);
    grid-template-columns: repeat(8, 1fr);
}

.cell {
    width: 99%;
    height: 99%;
    background-size: contain;
    cursor: pointer;
    border: 1px black solid;
    transition: .15s;
    display: inline-flex;
    flex-direction: column;
}
.cell:hover {
    opacity:0.8;
    background-color:#000;
}

.menuItem {
    background-size: cover;
    cursor: pointer;
    border: 5px transparent solid;
    border-radius: 5px;
    width: 100px;
    height: 100px;
    margin: 30px;
    transition: .15s;
    color: aliceblue;
}
.menuItem:hover {
    opacity:0.6;
    background-color:#000;
}

.itemCount {
    width: fit-content;
    padding: 4px;
    background-color: rgba(240, 248, 255, 0.518);
    border-radius: 4px;
}

.plantingMenu-active {
    border: 5px black solid;
}

.emptyCell {
    background-image: url('./assets/grass.png');
}

.wheat {
    background-image: url('./assets/wheat.jpg');
}

.cow {
    background-image: url('./assets/cow.gif');
}

.chicken {
    background-image: url('./assets/chicken.gif');
}

.resources-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 5px;
    max-width: 100px;
}
.resources-wrapper:hover {
    opacity:0.9;
    background-color:rgb(255, 255, 255);
}

.resource-item {
    color: aliceblue;
}
/*
    Resource icons
*/
.resource-icon {
    width: 30px;
    height: 30px;
    background-size: contain;
    border-radius: 5px;
}
.wheats {
    background-image: url('./assets/wheat-icon.png');
}
.eggs {
    background-image: url('./assets/egg-icon.png');
}
.milks {
    background-image: url('./assets/milk-icon.png');
}
.golds {
    background-image: url('./assets/gold.png');
}
